@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif !important;
}

body {
    background-color: #F4F6F8;
    color: #2C3E50;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

/*----------------------------header-----------------------------------------*/
header{
    /*width: 100%;*/
    /*min-height: 2vh;*/
    min-height: 50px;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border-bottom: none;
}
nav{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    padding: 0 20px;
    position: relative;
    
}
.nav-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #555;
    font-size: clamp(13px,calc(13px + 11*((100vw - 360px)/1740)),24px);
    padding-left: 0 !important; 
    margin: 0 !important; 
    
}
a{
    text-decoration: none !important;/*altindaki xetti silmek*/
    color: inherit !important;/*inherit olmasa .nav-links boz olsa da, içindəki linklər göy rəngdə qalacaq cunki bootstrap buna da ilisir*/
}
img{
    width: 30px;
    height: auto;
}
.burger-icon{
    display: flex;
    align-items: center;
    
}
.logo{
    width: 70px;
}
/*---------------------------------------------------------------------*/

/*-----------------------------------------------------main----------------------------------------------------*/


/*----------------------------------------------------hero-section-----------------------------------------------------*/
main{
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex: 1;
   
}
.main-container{
    width: 90%;
    max-width: 600px; /*boyuyende yayilmasin deye,sonradan yoxla*/
}
.hero-section{
    width: 100%;/*60% idi sonradan deyisdim*/
    /*margin: 0 auto;/*0 yox idi sonradan yazdim*/
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/*input{
    width: 100%;
    padding: 5px; 
}*/

.search-div{
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.search-box{
    display: flex;           
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0; 
    gap: 2px; 
    border-radius: 30px;   
    padding: 3px 3px 3px 15px;

    
}

.search-box input{
    border: none;            
    outline: none;           
    flex: 1;                 
    font-size: 1rem !important;/*clamp(13px,calc(13px + 11*((100vw - 360px)/1740)),24px);*/
    color: #2C3E50 !important;
}
.input-x-btn{
    border: none;
    outline: none;
    background-color: white;
    font-size: 2rem;
    color: black;
    margin-right: 7px;
}

.search-btn{
    background: #1ABC9C;
    width: 45px;
    height: 45px;
    font-size: 18px;
    border-radius: 50%;      
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.search-options{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.search-btn:hover{
    transform: scale(1.05);
}

.option{
    display: flex;        
    align-items: center;    
    gap: 5px;
    font-size: 14px;
    color: #555;
    font-weight: 500;
    cursor: pointer;
}
.radio{
    accent-color: #1ABC9C;
}

.mood-div{
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 10px; 
}
.mood-div p{
    text-align: center;
    font-size: clamp(16px,calc(16px + 11*((100vw - 360px)/1740)),27px);

}
.mood-list{
    padding-left: 0 !important; 
    margin-bottom: 0 !important; 
    list-style: none;
    display: flex;
    width: 100%;
    gap: 10px;
}

.mood-list li{
    font-size: clamp(13px,calc(13px + 11*((100vw - 360px)/1740)),24px);
    flex: 1;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    color: #555;
    border-radius: 10px;
    font-weight: 600 !important;
     transition: transform 0.2s
}
.mood-list li:hover{
    background-color: #1ABC9C;
    color: #FFFFFF;
    border-color: #1ABC9C;
    transform: scale(1.05);
}
.mood-list li:active{
    transform: scale(0.95);
}


/*font-size: clamp(
    MIN_FONT,
    calc(MIN_FONT + (MAX_FONT - MIN_FONT) * ((100vw - MIN_SCREEN) / (MAX_SCREEN - MIN_SCREEN))),
    MAX_FONT
);
*/

/*---------------------------------------------------------------------------------------------------------*/


/* {
    outline: 1px solid red;
}*/

/*-----------------------------------------------------main-area----------------------------------------------------*/
.main-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;    
    padding: 20px;
    align-items: flex-start;
}
.drink-card{
    width: 60%;/*mediada olcunu kicilt*/
    /*width: 200px;  */
    background-color: #FFFFFF;
    /*border: none;*/
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    
} 
.drink-card img{
    width: 100%;    
    border-radius: 8px;
    margin-bottom: 10px;
}
.drink-card h3{
    font-size: 1rem !important;
    color: #2C3E50 !important;
    font-weight: 700 !important;
    margin-bottom: 5px;
}

.drink-card:hover{
    transform: scale(1.05);
}

/*hec ne tapmayanda*/
.not-found{
    width: 100%;
    text-align: center;
    padding: 40px;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.not-found img{
    width: 150px;
    height: auto;
    opacity: 0.8;
    border-radius: 10px;
}
.not-found h3{
    font-size: 20px;
    color: #333;
}
.not-found p{
    font-size: 16px;
    color: #777;
}
/* --------------------------------------- */

/*-----------------------------------------------------shake----------------------------------------------------*/
.shake{
    display: flex;
    align-items: center;
    background-color: #1ABC9C;
    color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(26, 188, 156, 0.4);
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 1rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    transition: transform 0.2s, background-color 0.2s;
    
}
.shake:hover{
    transform: scale(1.05);
    background-color: #16a085;
}
.shake:active{
    transform: scale(0.95);
}
/*---------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------footer----------------------------------------------------*/
.mood-div p, 
.footer-text p{
    margin-bottom: 10px;
}
.footer-text{
    width: 100%;
    color: #95a5a6;
    text-align: center;
    padding: 20px;
    font-size: clamp(13px,calc(13px + 11*((100vw - 360px)/1740)),24px);
   
}
/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------burger-icon-----------------------------------------------------*/
.x{
    background: none; 
    border: none;
    display: block;
    width: 95%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #555;
    font-weight: bold;
    font-size: clamp(13px,calc(13px + 11*((100vw - 360px)/1740)),24px);
    

}
.mobile-links-container{
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    
}
.nav-links li:hover{
    color: #1ABC9C;
    cursor: pointer;
}
/*--------------------------------------bootstrapin yaratdigi problemleri duzeltmek----------------------------------------------------*/
input:focus, 
button:focus, 
.search-btn:focus,
.shake:focus {
    outline: none !important;
    box-shadow: none !important;
}
::placeholder {
    color: #95a5a6 !important;
    font-family: "Playfair Display", serif !important;
}

/*--------------------------------------card-modal-info----------------------------------------------------*/
.drink-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; 
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center; 
    align-items: center;
    background: rgba(0, 0, 0, 0.7); 
    /*ekran uzandiqca uzanib asagi dusur ve asagisi bos qalir. max height ver
    sekil ve ad yazilan kart hisseleri 768 e yaxinlasdiqca cox boyuyur
    */
}
.card-modal-content{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    max-width: 500px; 
    height: 85vh;
    max-height: 700px;/*sekil cox uzanirdi*/
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
    border-radius: 10px;
    overflow: hidden;/*bu olmasa sekil teref dairevi olmur*/
}
.modal-left{
    width: 100%;
    height: 250px;
    flex: none;/*yer olmayanda sekil sixismasin deye*/

}
.modal-img{
    width: 100%;
    height: 100%;
}

.modal-right{
    flex: 1;
    padding: 20px;/*mediada 40px ele*/
    overflow-y: auto; 
}
.card-modal-title{
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    font-family: "Playfair Display", serif !important;
}
.category-tag{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.category-tag span{
    background: #F6CAA9;
    color: #333;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 10px;
}
.modal-right h4{
    margin-top: 15px;
    font-size: 1.3rem;
    color: #555;
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.card-modal-ingredients{
    list-style-type: none;
    padding: 0;
}
.card-modal-ingredients li{
    padding: 5px 0;
    font-size: 0.9rem;
    border-bottom: 1px dashed #eee;
}
.card-modal-instructions{
    color: #444;
    font-size: 0.9rem;
}
.close-modal-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    background: white; 
    display: flex;             
    justify-content: center;   
    align-items: center;
    width: 40px;       
    height: 40px;
    font-size: 30px; 
    cursor: pointer;
    z-index: 3;
    padding: 0;
    color: black;
}
/*--------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------media----------------------------------------------------*/
@media (min-width:768px){
    header{
        min-height: 70px;
    }
    .logo{
        width: 100px;
    }
    .burger-icon{
        display: none;
    }
    .x{
        display: none;
    }
    .mobile-links-container{
        display: block;     
        position: static;           
        padding: 0;          
        border-radius: 0;
        flex: 1;
        margin-left: 20px;

    }
    .nav-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; 
    }
    .nav-links li{
        padding: 0; 
    }
    .mood-div p{
        font-size: 30px;
    }
    .drink-card{
        width: 47%;/*40% idi h3 e gore olcusunu artirdim*/
    }
    .option{
        font-size: 17px;
    }
    
    .card-modal-content{
        flex-direction: row; 
        max-width: 900px;
        height: 65vh; 
        max-height: 550px;
    }
    .modal-left{
        height: 100%; 
        flex: 1; 
    }

    .modal-right{
        flex: 1; 
        padding: 40px; 
       
    }
    .card-modal-title{
        font-size: 2rem;
        
    }
    .close-modal-btn{
        font-size: 35px;
        top: 20px;
        right: 25px;
    }
    .footer-text{
         margin-top: 10px;
    }
    .card-modal-ingredients li{
        font-size: 0.95rem;
    }
    .card-modal-instructions{
        font-size: 0.95rem;
    }
    .drink-card h3{
        font-size: 0.95rem !important;
    }

}

@media (min-width:1024px){
    .main-container{
        max-width: 900px;
    }
    .option{
        font-size: 19px;
    }
    .logo{
        margin-left: 20px;
        width: 110px;
    }
    .not-found img{
        width: 250px;
    }
    .not-found p{
        font-size: 17px;
    }
    .not-found h4{
        font-size: 24px;
    }
    .search-box input{
        font-size: 1.5rem!important;
    }
    .search-box{
        padding: 5px 5px 5px 17px;
    }
    .search-btn{
        width: 55px; 
        height: 55px;
        font-size: 22px;
    }
    .shake {
        padding: 20px 40px !important;
        font-size: 1.5rem !important;  
        bottom: 40px; 
        right: 40px;  
        box-shadow: 0 6px 15px rgba(26, 188, 156, 0.5); 
    }
    .category-tag span{
        font-size: 0.9rem;
    }
    .drink-card h3{
        font-size: 1.25rem !important;
    }

}
/*----------------------------------------elave-sehifeler----------------------------------------------------------------*/
/*----------------------------------------------bar-basics----------------------------------------------------------------*/
.bar-basics-container{
    width: 90%;
    max-width: 500px;
}
.page-header{
    width: 80%;
    margin: auto;
}
.page-header h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
.section1 h5{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.section1 h3{
    font-size: 1rem;
    margin-bottom: 5px;
}
.section1 p{
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.section1 div{
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);/*x-sag/sol y-yuxari-(-) asagi(+) blur*/
}
.section1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.section1 div:hover{
    transform: scale(1.05);
}
.section1 img{
    width: 80%;
    border-radius: 10px;
}

/*----------------------------------------------FAQ----------------------------------------------------------------*/
.faq-container{
    width: 90%;
    max-width: 500px;
}
.faq-page-header h1{
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
    
}
.faq-part h3{
    font-size: 0.85rem;
    margin-bottom: 10px;
}
.faq-part p{
    font-size: 0.8rem;
}
.faq-part div{
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    
}
.faq-part div:hover{
    transform: scale(1.05);
}
.faq-part{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.bold{
    color: #16a085;
}



@media (min-width:1024px){
    .bar-basics-container{
    width: 90%;
    max-width: 1000px;
}
.section1 h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.section1 p{
    font-size: 1rem;
    margin-bottom: 10px;
}
.page-header h1{
    font-size: 2.3rem;

}
.section1 h5{
    font-size: 1.8rem;

}
.faq-part div{
    width: 45%;
}
.faq-container{
    width: 90%;
    max-width: 800px;
}
.faq-page-header h1{
    margin-bottom: 60px;
    font-size: 1.6rem;
}
.faq-part h3{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.faq-part p{
    font-size: 1rem;
}

}

/*input hissesi/vibe hissesi/shake balaca olsun/icki hissesi biraz boyuk olsun*/
@media (min-width: 320px) and (max-width: 374px){
    .search-box{
        padding: 2px 2px 2px 10px; 
        justify-content: center;
        align-items: center;
    }
    .search-btn{
        width: 35px;
        height: 35px;
        font-size: 14px; 
    }

    .input-x-btn{
        margin-right: 2px;
    }
    .search-box input{
        font-size: 0.9rem !important; 
        border-radius: 8px;
    }
    .mood-list{
        display: grid; 
        grid-template-columns: 1fr 1fr;
        gap: 10px;

    }
    .mood-list li{
        font-size: 12px; 
        padding: 5px 2px;
    }
    .shake{
        bottom: 20px;       
        right: 20px;
        padding: 10px 15px; 
        font-size: 0.9rem;  
    }

    .drink-card{
        width: 80%; 
    }
    .drink-card h3{
        font-size: 1.1rem !important; 
    }
}